
<tr>
    <td><%= produto.name %></td>
    <td><%= produto.description %></td>
    <td><%= produto.departamento.nome %></td>
    <td><%= produto.price %></td>
    <td><%= produto.quantity %></td>
    <td><%= link_to "Editar", 
        edit_produto_path(produto), 
        class: "btn btn-default"%>
    </td>
    <td><%= button_to "Remover", 
        produto, 
        method: :delete, 
        class: "btn btn-danger", 
        data: {
            confirm: "Você tem certeza que deseja remover o produto #{produto.name}?"
        } %>
    </td>
</tr>